%h1 New user
- form_for(@user,:html => { :multipart => true }) do |f|
  = f.error_messages
  %p
    = f.label :login
    %br/
    = f.text_field :login
  %p
    = f.label :password
    %br/
    = f.password_field :password
  %p
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  %p
    = f.label :name_first
    %br/
    = f.text_field :name_first
  %p
    = f.label :name_last
    %br/
    = f.text_field :name_last
  %p
    = f.label :email
    %br/
    = f.text_field :email
  %p
    = f.label 'Photo'
    %br/
    = f.file_field :photo
    - if @user.photo.exists?
      = @user.photo.url
      = image_tag @user.photo.url
    - else
      No photo uploaded yet
  %p
    = recaptcha_tags
  %p
    = f.submit 'Create'
= link_to 'Back', root_path
