%h1 Editing user
- form_for([:member, @user]) do |f|
  = f.error_messages
  %p
    = f.label :login
    %br/
    = f.text_field :login, :disabled => true
  %p
    = f.label :password
    %br/
    = f.password_field :password
  %p
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  %p
    = f.label :name_first
    %br/
    = f.text_field :name_first
  %p
    = f.label :name_last
    %br/
    = f.text_field :name_last
  %p
    = f.label :email
    %br/
    = f.text_field :email
  %p
    = f.submit 'Update'
\#{link_to 'Back', "/member/"}
