%h1 New role
- form_for([:admin, @role]) do |f|
  = f.error_messages
  %p
    = f.label :role_name
    %br/
    = f.text_field :role_name
  %p
    = f.submit 'Create'
= link_to 'Back', admin_roles_path
