%h1 New Game
- form_for([:member, @game]) do |f|
  = f.error_messages
  %p
    = f.label :title
    %br/
    = f.text_field :title
  %p
    = f.label :rating
  %p
    = f.radio_button :rating, "Excellent"
    = f.label "Excellent"
    %br/
    = f.radio_button :rating, "Good"
    = f.label "Good"
    %br/
    = f.radio_button :rating, "Neutral", :checked => true
    = f.label "Neutral"
    %br/
    = f.radio_button :rating, "Bad"
    = f.label "Bad"
    %br/
    = f.radio_button :rating, "Terrible"
    = f.label "Terrible"
  %p
    = f.submit 'Create'
= link_to 'Back', member_games_path
